services:
    speedtest:
        container_name: speedtest
        image: henrywhitaker3/speedtest-tracker:latest
        restart: unless-stopped
        volumes:
            - ./speedtest-tracker/config:/config
        environment:
            - TZ={{ timezone }}
            - PGID=1000
            - PUID=1000
            - OOKLA_EULA_GDPR=true
        logging:
            driver: "json-file"
            options:
                max-file: "10"
                max-size: "200k"
        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.speedtest.rule=Host(`speedtest.{{ domain }}`)"
            - "traefik.http.routers.speedtest.entrypoints=websecure"
            - "traefik.http.routers.speedtest.tls=true"
            - "traefik.http.routers.speedtest.tls.certresolver=stepca"
            - "traefik.http.services.speedtest.loadbalancer.server.port=80"
        networks:
          - proxy

networks:
  proxy:
    external: true