- name: Docker Deploy | Check if docker-compose.yaml exists
  ansible.builtin.stat:
    path: files/docker-compose/{{ application_target }}/docker-compose.yaml
  register: result
  failed_when: not result.stat.exists
  become: false
  delegate_to: localhost

- name: Docker Deploy | Ensure folder exists
  ansible.builtin.file:
    path: /opt/stacks/{{ application_target }}/
    state: directory
    mode: '0755'

- name: Docker Deploy | Copying docker-compose file to {{ inventory_hostname }}
  ansible.builtin.template:
    src: "files/docker-compose/{{ application_target }}/docker-compose.yaml"
    dest: "/opt/stacks/{{ application_target }}/docker-compose.yaml"
    mode: '0644'
    owner: root
    group: root
  register: copy_docker_compose

- name: Docker Deploy | Create external docker network
  community.docker.docker_network:
    name: proxy
    state: present

- name: Docker Deploy | Running docker-compose up
  community.docker.docker_compose_v2:
    project_src: /opt/stacks/{{ application_target }}/
    state: present
  when: copy_docker_compose.changed