services:
  traefik:
    image: traefik:v2.11
    restart: always
    ports:
      - "80:80"
      - "443:443"
    command: 
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.stepca.acme.caserver={{ step_ca_url }}/acme/traefik/directory"
      - "--certificatesresolvers.stepca.acme.email={{ default_email }}"
      - "--certificatesresolvers.stepca.acme.storage=/acme/acme.json"
      - "--certificatesresolvers.stepca.acme.httpchallenge=true"
      - "--certificatesresolvers.stepca.acme.httpchallenge.entrypoint=web"
      - "--api.dashboard=true"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.step/certs/root_ca.crt:/usr/local/share/ca-certificates/step-ca-root.crt:ro
      - /root/.step/certs/intermediate_ca.crt.crt:/usr/local/share/ca-certificates/intermediate_ca.crt:ro
      - ./traefik:/etc/traefik
      - ./acme:/acme
    environment:
      SSL_CERT_FILE: "/usr/local/share/ca-certificates/step-ca-root.crt"
      TZ: "{{ timezone }}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      # Dashboard Router
      - "traefik.http.routers.traefik.rule=Host(`traefik-{{ inventory_hostname_short }}.{{ domain }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=stepca"
      # Auth Middleware
      - "traefik.http.middlewares.auth.basicauth.users={{ traefik_auth }}"
      - "traefik.http.routers.traefik.middlewares=auth"
    network_mode: "host"

networks:
  proxy:
    external: true
