- name: Packages | Installing basic Packages
  ansible.builtin.apt:
    update_cache: true
    name:
      - git
      - python3-pip
      - python3-docker
      - parted
      - apache2-utils
  tags:
    - step6
    - packages
