- name: Tailscale | Download gpg apt key
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/debian/{{ ansible_distribution_release }}.noarmor.gpg
    dest: "{{ apt_key_path }}/tailscale-archive-keyring.gpg"
    mode: "0644"
    owner: root

- name: Tailscale | Add specified repository into sources list
  ansible.builtin.uri:
    url: https://pkgs.tailscale.com/stable/debian/{{ ansible_distribution_release }}.tailscale-keyring.list
    dest: "{{ apt_sources_path }}/tailscale.list"
    mode: "0644"
    owner: root

- name: Tailscale | Install Tailscale
  ansible.builtin.apt:
    update_cache: true
    name: tailscale
    state: present

- name: Tailscale | Checking auth-key expiration
  ansible.builtin.command: date +"%Y-%m-%d"
  register: today_date
  changed_when: false
  failed_when: ts_expire < today_date.stdout

- name: Tailscale | Join Tailnet
  ansible.builtin.command: >
    tailscale login {{ ts_extra_options | default('') }}
    --ssh
    --authkey={{ ts_key }}
  changed_when: false
